{% extends 'base.html' %}
{% block content %}



<div class="container">
    
    <div class="row">
        <h2><strong><center>We Debug for Free!</center></strong></h2>
        <center><h3>Whether You Just Have a Question Or Wish To Have Your  Bugs Exterminated, Let Us Know!.</h3></center>
        <center>
          <form action="{% url 'search' %}" method="get">
            <input type="text" name="q">
                <button type="submit">Search</button>
          </form>
      </center>
    </div>      
          
    <div class="container">   
        <div class="row"> 
            <div class="col-sm-12 col-md-12">
              {% for debug in debugs %}
              <div class="thumbnail">
                    <div class="service" style="background-image: url('{{ MEDIA_URL }}{{ debug.image }}')"></div>
                    <h3><center>{{debug.name}}</center></h3>
                   <p class="service-description"><center>{{debug.description}}</center></p>
                   <p class="service-description"><center><span class="glyphicon glyphicon-user" aria-hidden="true"></span></center></p>
                  <center><b>{{debug.views}} Pages Views</b></center>
                   {% if user.is_authenticated %}
                     <center><p><a href="{% url 'bug_like' pk=debug.pk %}" class="btn btn-block"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></a></span><b> {{debug.likes}} likes!</b></p></center>
                       <center><a href="{% url 'new_form' %}" class="btn btn-default">Read More</a></center>
                   {% else %}
                     <center><b>{{debug.likes}} Likes!</b></center>
                   {% endif %}
              </div>
              {% endfor %} 
            </div>  
            
            
        </div>    
              
    </div>
    
</div>

<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Join the Team!</a></h3>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
            <div class="display">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                  <input type="text" name="q">
                  <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
      
      
{% endblock %}
