
{% extends 'base.html' %}{% block content %}

<script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            emailjs.init("user_RoKHg1ijkctqHuw2A6IUj");
        })();
    </script>
    
   <center><img src="media/image/bugs.png"></center>

<center><h2>We fix the following bugs for free! Try us!</h2></center>

    <h2 class="h1-responsive font-weight-bold text-center my-4">Describe Your Bug</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Please describe the bug problem that you are encountering. Give us details of your issue along with your contact details and we will be in touch within 24 hours.</p>
<div class="container">
    
    <div class="row"></div>
     
            <form onsubmit="return sendMail(this);" method="POST">
              {% csrf_token %}

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                           <center><label for="name" class="">Your name</label></center>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <center><label for="email" class="">Your email</label></center>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <center><label for="subject" class="">Subject</label></center>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <center><label for="message">Please describe Your Bug Here</label></center>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            
            <div class="text-center text-md-left">
                <button type="submit" class="btn btn-secondary center-block">Send Project Request</button>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        
        <!--Grid column-->

    </div>
</div>    



</section>
<script src="static/js/sendEmail.js"></script>

{% endblock %}