<div class="container">
    <div class="row" height=420>
      {% for feature in features %}
          <div class="col-sm-12 col-md-6">
              <div class="thumbnail">
                   <div class="service" style="background-image: url('{{ MEDIA_URL }}{{ feature.image }}')"></div>
                   <h3><center>{{feature.name}}</center></h3>
                   <p class="service-description"><center>{{ feature.description }}</center></p>
                   <center><p><b><strong>Views: </strong>{{ feature.views }}</b></p></center>
                   <center><p><b><strong>Likes: </strong>{{ feature.likes }}</b></p></center>
                   
                   <center><p><button class="btn btn-success" type="submit">View</button></center> 
              </div>
          </div>
      {% endfor %}    
    </div>
</div>