@import url('https://fonts.googleapis.com/css?family=Fredoka+One: 100,200,300,400,500,600,700');

body {
    font-family: Arial;
    margin-top: 75px;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #000000;
}

.page-footer{
    color: #000000;
}

.btn btn-success{
    margin-top: 5px;
}



.navbar-brand{
    font-family: 'Fredoka One', sans-serif;
    font-size: 40px;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color:  #c67605;
}

.service {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.panel-default {
    border-color: transparent;
    padding: 0 20px;
    width: 450px;
    margin: 0;
    padding-left: 40px;
}

.panel-body {
    height: 100%;
    border: 5px solid #ddd;
}

.service-description {
    min-height: 40px;
}

.display {
    padding-top: 10px;
}

.row {
    padding-left: 20px;
}

h2 {
    padding-top: 50px;
    padding-left: 10px;
}
