{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <center><h2>We fix the following bugs for free! Try us!</h2></center>

    <h2 class="h1-responsive font-weight-bold text-center my-4">Describe Your Bug</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Please describe the bug problem that you are encountering. Give us details of your issue along with your contact details and we will be in touch within
     
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ app | as_bootstrap }}
        <button type="submit" class="btn btn-info">Save</button>
    </form>
</div>
   
{% endblock %}