{% extends 'base.html' %}
{% block content %}
<center><h2>Welcome to <div class="brand">Unicorn</div></h2></center>
<center><h3>The Site That Exterminates Your Bugs!</h3></center>

<div class="container">
    <div class="row">      
      <div class="col-sm-12 col-md-12">
        <center>
            <a class="story-img" href="#">
                <img src="/media/image/bugs.png">
            </a>
        </center>
      </div>
    </div>  
    
    <hr>
        
        <center><h3>We Offer Two Options:</h3></center>
         

     <div class="row">      
        <div class="col-sm-6 col-md-6">
            <center>
            <a class="story-img" href="#">
                <img src="/media/image/freee.jpg" width="300">
            </a>
            </center>
            <center><h3>Click Here to Explore Our Free Features!</h3></center>
        </div>    
        <div class="col-sm-6 col-md-6">
            <center>
            <a class="story-img" href="#">
                <img src="/media/image/dollar.png">
            </a>
            </center>
            <center><h3>Click Here To Explore Future Features</h3></center>
        </div>   
    </div>  
    
</div>    

<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Join the Team!</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
            <div class="display">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                  <input type="text" name="q">
                  <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}
