{% extends 'base.html' %}
{% block content %}
<div class="container">
     <center>
        <a class="story-img" href="#">
                <img src="/media/image/check.png" height="300">
            </a>
    </center>
    <div class="row" height=420>
        <h2><strong><center>Future Features</center></strong></h2>
       <center><h3>These Features Will Implemented With Your Support! Please Give What You Can and Be Sure to Upvote The Features You'd Like To See.</h3></center>
      <center>
          <form class="search" action="{% url 'search' %}" method="get">
            <input type="text" name="q">
                <button type="submit">Search</button>
          </form>
      </center>
      
      {% for service in services %}
          <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
                   <div class="service" style="background-image: url('{{ MEDIA_URL }}{{ service.image }}')"></div>
                   <h3><center>{{service.name}}</center></h3>
                   <p class="service-description"><center>{{ service.description }}</center></p>
                    {% if user.is_authenticated %}
                        <center><p><a href="{% url 'service_like' pk=service.pk %}" class="btn btn-block"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></a></span><b> {{service.likes}} Likes!</b></p></center>
                    <center>
                     <form method="post" action="{% url 'add_to_cart' service.id %}">
                    {% csrf_token %}
                     <div class="input-group">
                       <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                         <span class="input-group_btn">
                           <p><button class="btn btn-success" type="submit">Cart</button> 
                         </span>    
                     </div>
                    </form>
                   </center>
                    
                    
                    {% else %}
                        <center><b>{{service.likes}} Likes!</b></center>
                    {% endif %}
                   <center><p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><b>{{ service.price }}</b></p></center>
                   
                  
                      
              </div>
          </div>
      {% endfor %}    
    </div>
</div>

<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-6 col-md-6">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-6 col-md-6">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Apply!</a>
          </center>
       </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}
