{% extends 'base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <p><span class="boldtext"><i>{{user}}</i></span></p>

            </div>
            <div class="container">
                 <div class="col-md-10 col-sm-9">
                <h2><b>{% block page_title %}{{user}}'s profile{%endblock%}</b></h2>
                <h3>You currently have {{ service_count }} items in your cart, you can purchase them <a href="{% url 'view_cart' %}">here</a>, or you can <a href="{% url 'services' %}">keep shopping</a>.</h3>
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                        <p><span class="boldtext">Views:</span> {{post.views}}</p>
                        <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                    </div>
                </div>
                <li><a href="{% url 'new_post' %}">Add A Post</a></li>
            </div>
                
            </div>
           
            <hr>
        </div>
    {% endfor %}
{% endblock %}