{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <center>
                <a class="story-img" href="#">
                    <img src="/media/image/bbugs.jpg" height="200">
                </a>
            </center>
            
             <center><h2><a class="brand">Unicorn</a></h2></center><center><h2>Reviews</h2></center>
                <center><h3>These are completely annonymous so don't worry!</h3></center>
                <center><p><a href="{% url 'new_post' %}" class="btn btn-default">Add A Review</a></p></center>
        </div>  
    </div>    
                
                <hr>
    <div class="container">            
        <div class="row">        
            <div class="col-md-10 col-sm-9">
                 {% for post in posts %}   
                <h3>{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                        <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                        <p><span class="boldtext">Views:</span> {{post.views}}</p>
                        <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                    </div>
                </div>
                <hr>
                 {% endfor %}
            </div>
        </div>
        <hr>
    </div>
    
    
<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Join the Team!</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
            <div class="display">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                  <input type="text" name="q">
                  <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}