{% extends 'base.html'%}
{% block content %}
    <div class="row">
        <div class="col-md-2 col-sm-3 text-center">
        </div>
        <div class="col-sm-10 col-md-9">
            {% if post.image %}
                <img class="img-blogpost" src="/media/{{ post.image }}">
            {% endif %}
            <h3>{{ post.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <b>Review:</b>
                    <p>{{ post.content }}</p>
                    <b>Published on:</b> 
                    <p>{{ post.published_date }} </p>
                    <b>Views:</b> 
                    <p>{{post.views}}</p>
                    <b>Tags:</b> 
                    <p>{{ post.tag }}</p>
                    <a href="{% url 'get_posts' %}" class="btn btn-default">Back to Review</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-default">Edit Review</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Join the Team!</a>
          </center>
       </div>
       <div class="col-sm-4 col-md-4">
            <div class="display">
                <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                  <input type="text" name="q">
                  <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}
