{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container">
        <center>
            <a class="story-img" href="#">
                <img src="/media/image/debuggs.png" height="300">
            </a>
        </center>
    <center><h2>Your Unicorn Cart</h2></center>
     <center><h3>Thank You For Your Interest In Our <a href="{% url 'services' %}">Future Feature</a>!</h3></center>
    <center><h3>You currently have {{ service_count }} items in your cart, you can purchase them now, or you can <a href="{% url 'services' %}">keep shopping</a>.</h3> </center> 
    
    <div class="row">
      <center>
        <h3>Your Current Cart Total Is:</h3>
        <h3><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</h3>
      </center>    
    </div>
    <hr>
<div class="row row-flex">
    {% for item in cart_items %}
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display">
        
        <center><h2>You Are Contributing For: </h2></center>
        
        <div class="service" style="background-image: url('{{ MEDIA_URL }}{{ item.service.image }}')"></div>
        
        <div class="caption">
            <center><h3>{{ item.service.name }}</h3></center>
            <p class="service-description"><center>{{ item.service.description }}</center></p>
            <p><center>{{ item.service.price }}</center></p>
            
                     <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="999" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
                </form>
               
                
            </p>
        </div>
    </div>
    {% endfor %}
</div>

</div>

  <!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-6 col-md-6">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-6 col-md-6">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Apply!</a>
          </center>
       </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

{% endblock %}
