{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <center>
        <a class="story-img" href="#">
                <img src="/media/image/bugcomp.png">
            </a>
    </center>
    <center><h2>We Fix Bugs for Free! Try us!</h2></center>

    <h2 class="h1-responsive font-weight-bold text-center my-4">Describe Your Bug</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Please describe the bug problem that you are encountering. Give us details of your issue along with your contact details and we will be in touch within
     
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <button type="submit" class="btn btn-info">Save</button>
    </form>
</div>

<!-- Footer -->
<footer class="page-footer">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
       <div class="col-sm-6 col-md-6">
          <center>
             <a class="navbar-brand" href="">Unicorn</a>
          </center>
       </div>
       <div class="col-sm-6 col-md-6">
          <center>
             <a class="navbar-brand" href="{% url 'new_app' %}">Apply!</a>
          </center>
       </div>
    </div>
    </div>
   </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
   
{% endblock %}